server:
  port: 8083

spring:
  application:
    name: audit-service
  datasource:
    url: jdbc:postgresql://localhost:5432/audit_db
    driverClassName: org.postgresql.Driver
    username: postgres
    password: postgres
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update


eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: "http://localhost:9411/api/v2/spans"
